<div class = 'container'>
  <h3>Users</h3>
  <table class="table">
    <tr>
      <th>Username</th>
      <th>ID</th>
      <th colspan="3"></th>
    </tr>
    <tr ng-repeat="user in users">
      <td>{{user.username}}</td>
      <td>{{user.id}}</td>
      <td><a class="btn btn-primary"  ng-click="showUser(user.id)">Show</a></td>
      <td><a class="btn btn-primary"  ng-click="editUser(user.id)">Edit</a></td>
      <td><a class="btn btn-danger"  ng-click="deleteUser(user.id)">Delete</a></td>
    </tr>
  </table>
  <a class="btn btn-success"  ng-click="createUser()">Create User</a>
</div>
