<div class="form-group">
   <input type="hidden" name="comment[parent_id]" value="<%= @comment.parent_id %>">
   <label for="comment_content">Content:</label>
   <br>
   <textarea id="comment_content" name="comment[content]" class="form-control" rows="10"><%= @comment.try(:content) %></textarea>
 </div>
