<p>Are you sure you want to delete:</p>
<blockquote><p><%= @comment.content %></p></blockquote>
<form action="/comments/comment/<%= @comment.id %>/destroy" method="post">
  <div>
    <button type="submit" class="btn btn-danger" name="ok">Delete</button>
    <button type="submit" class="btn btn-default" name="cancel">Cancel</button>
  </div>
</form>
