<h2>Create Comment</h2>
<% if @comment.parent %>
  <%= erb  :'comments/_comment', locals: {comment: @comment.parent}, from_reply_form: true %>
<% end %>
<form action="/comments/new" method="post">
  <%= erb :'comments/_form', :layout => false %>

  <div>
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>

