<div class="container">
    <h1>New note</h1>

    <form role="form">
        <div class="control-group">
            <label class="control-label" for="inputTitle">Title:</label>
            <div class="controls">
                <input type="text"  id="inputTitle" ng-model="note.title"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputBody">Body:</label>
            <div class="controls">
                <input type="text" id="inputBody" ng-model="note.body"/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <a ng-click="back()" class="btn btn-small">Back</a>
                <a ng-click="createNewNote()" class="btn btn-success">Create Note</a>
            </div>
        </div>
    </form>
</div>

<!-- <form name="myForm" class="offset4 span3">
  <div class="control-group">
    <label>Title</label>
    <input type="text" name="title" ng-model="note.title" required>
  </div>


  <label>Description</label>
  <textarea name="body" ng-model="note.body"></textarea>

  <br>
  <button class="btn btn-primary" ng-click="createNewNote()">Create</button>
</form>
 -->
